{% extends 'base.html' %}

{% block content%}

     <h1> Snake </h1>

     <nav class="navbar">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Post">Post</a></li>
        </ul>
    </nav>

    <main>
       <form action="/" method="post">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <button type="submit">Login</button>
        </form>
    </main>
    
{% endblock %}